@model IEnumerable<SchoolProject_2_w2022.Models.Teacher>

@{
    ViewBag.Title = "List";
}

<h2>You want to list Teachers!</h2>

<div>There are @Model.Count() teachers in the system.</div>
<div><a href="/Teacher/New">Add a new Teacher</a></div>
<div>
    <form action="/Teacher/List" method="GET">
        <input type="text" name="SearchKey" placeholder="Type your name here" />
        <input type="submit" value="search" />
    </form>
</div>

<div>
    @{
        foreach(SchoolProject_2_w2022.Models.Teacher Teacher in Model)
        {
            <div>
                <a href="/Teacher/Show/@Teacher.TeacherId"> @Teacher.TeacherFName @Teacher.TeacherLName</a>
            </div>
        }
    }

</div>

