@model SchoolProject_2_w2022.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Show Teacher</h2>
<a href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete this teacher</a>
<div>First Name: @Model.TeacherFName</div>
<div>Last Name: @Model.TeacherLName</div>


    Todo: join Dat

